{
	"identifier" = "oolite.oxp.cim.escort-formations";
	"required_oolite_version" = "1.79";
	"title" = "Escort Formations";
	"version" = "1.1";
	"category" = "Mechanics";
	"description" = "Vary the flight formations used by escort pilots to give some alternatives to the usual 'v' shape.";
	"download_url" = "http://compsoc.dur.ac.uk/~cim/oolite/Escort_Formations_1.1.oxz";
	"author" = "cim";
	"information_url" = "http://wiki.alioth.net/index.php/Escort_Formations";
	"license" = "CC-BY-SA 3.0";
}